@use "../all-vars" as *;

.button{
	@include text-blocky;
	background: var(--color-bg-inv);
	color: var(--color-foreground-inv);
	padding: 0.8em 1.2em;
	display: inline-block;
	text-decoration: none;
}