@use "../all-vars" as *;

html{
	font-size: 10px;
	scroll-behavior: smooth;
	@media print{
		font-size: 7px;
	}
}

body{
	position: relative;
	padding: 0;
	margin: 0;
	background-color: var(--color-bg);
	color: var(--color-foreground);
	@include text-std;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection{
	background-color: var(--color-accent);
	color: var(--color-foreground);
}

main{
	overflow-x: hidden;
}

hr{
	border: 0;
	background-color: black;
	height: 1px;
	margin-top: var(--block-spacing);
	margin-bottom: var(--block-spacing);
}

button{
	all: unset;
	text-decoration: 0;
	cursor: pointer;
	&.button{
		@include text-link-defaults;
	}
}

input, button, label, textarea{
	margin-bottom: var(--block-spacing--shallow);
}

a{
	@include text-link-defaults;
}

a, button, input, textarea, select{
	&:focus-visible{
		outline: 2px solid var(--color-focus);
		outline-offset: .3em;
	}
}

button, 
a, 
input[type="button"],
input[type="submit"],
input[type="reset"],
label,
select,
textarea {
	min-width: 24px;
	min-height: 24px;
}
