:root{
	/* Colors */
	--color-bitcoin: #f7931a;
	--color-bitcoin-a11y-text: #AF6408;
	--color-bitcoin-a11y: #DB7900;
	--color-white-solid: #ffffff;
	--color-black-solid: #000000;
	--color-black-off-solid: #151515;
	--color-white-off-solid: #fafafa;
	--color-beige: #fffdee;

	--color-foreground: var(--color-black-off-solid);
	--color-foreground-inv: var(--color-white-solid);
	--color-bg: var(--color-white-solid);
	--color-bg-alt: var(--color-beige);
	--color-bg-inv: var(--color-black-solid);
	--color-bg-off-solid: var(--color-white-off-solid);
	--color-accent: var(--color-bitcoin);
	--color-accent-a11y: var(--color-bitcoin-a11y);
	--color-accent-a11y-text: var(--color-bitcoin-a11y-text);
	--color-accent-alt: var(--color-bitcoin-a11y);
	--color-feint-line: rgb(0, 0, 0, .1);
	--color-focus: var(--color-bitcoin-a11y);

	/* Layout */
	--site-width: 1100px;
	--content-width: 900px;
	--border-radius: 2px;
	--gutter-padding: 1.6rem;
	--block-spacing--shallow--static: 2rem;
	--block-spacing--tiny: clamp(1rem, 3vw, 3rem);
	--block-spacing--shallow: clamp(2rem, 4vw, 4.5rem);
	--block-spacing: clamp(3.5rem, 6vw, 6.5rem);
	--block-spacing--deep: clamp(8rem, 12vw, 14rem);
	--block-spacing--heading: clamp(1.4rem, 3vw, 3rem);
	--block-spacing--text: clamp(1rem, 2.3vw, 1.2rem);
	--column-gap: clamp(2rem, 5vw, 5rem);
	--site-width-margins: calc((var(--site-width) + var(--gutter-padding)) + var(--gutter-padding));

	/* Typography */
	--font-size-display: clamp(2rem, 3.2vw, 3.5rem);

	--font-size-heading: clamp(2rem, 3vw, 2.6rem);
	--font-size-heading-large: clamp(3.23rem, 3.4vw, 3.4rem);
	--font-size-heading-small: clamp(2.09rem, 2.2vw, 2.2rem);

	--font-size-medium: clamp(2.24rem, 3.2vw, 3.2rem);
	--font-size-std: clamp(1.44rem, 1.8vw, 1.8rem);
	--font-size-body: clamp(1.71rem, 1.9vw, 1.9rem);
	--font-size-body-intro: clamp(2.47rem, 2.6vw, 2.6rem);
	--font-size-blocky: clamp(1.472rem, 1.6vw, 1.6rem);
	--font-size-tiny: 1.3rem;
	--font-size-miniscule: 1.25rem;
}

body.dark-mode{
	--color-foreground: var(--color-white-solid);
	--color-foreground-inv: var(--color-black-solid);
	--color-bg: var(--color-black-solid);
	--color-bg-inv: var(--color-white-off-solid);
	--color-bg-off-solid: var(--color-black-off-solid);
}

@media print{
	body{
		--color-foreground: var(--color-black-off-solid);
		--color-foreground-inv: var(--color-white-solid);
		--color-bg: var(--color-white-solid);
		--color-bg-inv: var(--color-black-solid);
		--color-bg-off-solid: var(--color-white-off-solid);
	}
}
