main{
	min-height: 80vh;
}

.container{
	position: relative;
	width: 100%;
	max-width: var(--site-width-margins);
	margin: 0 auto;
	padding-left: var(--gutter-padding);
	padding-right: var(--gutter-padding);
	&--vertical-fill{
		height:100%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
}

.content-container{
	width: 100%;
	max-width: var(--content-width);
	margin: 0 auto;
	padding-left: var(--gutter-padding);
	padding-right: var(--gutter-padding);
}
