<div class="section contacts">
	<div class="section__inner contacts__inner">

		<div class="contacts__widget">
			<li><a href="mailto:valuarchy@protonmail.com">Email us</a></li>
			<li><a href="https://x.com/TipToeBTC">Find us on X</a></li>
			<li><a href="https://njump.me/npub14erlvhtvp444cknx4k79jyr0hn0npyvuzu9vpm589u84tsws8eqsq2msm2">Find us on nostr</a></li>
		</div>

	</div>
</div>
