<div class="section contacts">
	<div class="section__inner contacts__inner">

		<h2>Get in touch/connect</h2>

		<ul class="contacts__list">
			<li>
				<a class="contacts__link" href="mailto:valuarchy@protonmail.com">
					<span class="icon icon--email" aria-hidden="true"></span>
					Email us
				</a>
			</li>
			<li>
				<a class="contacts__link" href="https://x.com/TipToeBTC">
					<span class="icon icon--x" aria-hidden="true"></span>
					Find us on X
				</a>
			</li>
			<li>
				<a class="contacts__link" href="https://njump.me/npub14erlvhtvp444cknx4k79jyr0hn0npyvuzu9vpm589u84tsws8eqsq2msm2">
					<span class="icon icon--nostr" aria-hidden="true"></span>
					Find us on nostr
				</a>
			</li>
		</ul>

	</div>
</div>
