<div class="section donate">
	<div class="section__inner donate__inner">

		<h2>Donate to help the cause</h2>

		<div class="donate__widget">
			<div id="blink-pay-button-container"></div>
		</div>

	</div>
</div>
