	</div>
</div>

<div class="donate">
	<div class="donate__inner">

		<h2>Donate to help the cause</h2>

		<div class="donate__widget">
			<div id="blink-pay-button-container"></div>
		</div>

		<script src="https://blinkbitcoin.github.io/donation-button.blink.sv/js/blink-pay-button.js"></script>

		<script src="/assets/scripts/blink-init.js" defer></script>

	</div>
</div>

<div class="content-container">
	<div class="body-content">