	</div>
</div>

<div class="section download">
	<div class="section__inner download__inner">

	<h2>Download Valuarchy book</h2>

	<div class="download__button-group">
		<a class="button" href="./assets/downloads/valuarchy-a-monetary-value-leadership-system.pdf" title="267 KB">Download PDF (267kb)</a>
		<a class="button" href="./assets/downloads/valuarchy.epub" title="1.8 MB">Download ePub (267kb)</a>
	</div>

	</div>
</div>


<div class="body-content">
	<div class="content-container">