	</div>
</div>

<div class="section download">
	<div class="section__inner download__inner">

	<h2>Download Valuarchy book</h2>

	<div class="download__button-group">
		<a class="button" href="./assets/downloads/valuarchy-a-monetary-value-leadership-system.pdf" title="Download PDF 267kb">Download PDF</a>
		<a class="button" href="./assets/downloads/valuarchy.epub" title="Download ePub 1mb">Download ePub</a>
	</div>

	</div>
</div>


<div class="body-content">
	<div class="content-container">