<footer class="footer">
	<div class="content-container">
		<p class="footer__main-line">
			&copy; Valuarchy <span id="year"></span>
			<script>
				document.getElementById('year').textContent = new Date().getFullYear();
			</script>
		</p>
		<p class="footer__credit-line">
			Site developed by <a href="https://br-web.me">BR Web</a>
		</p>
	</div>
</footer>