<div class="hero">
	<div class="hero__inner">
		<p>
			<span class="text">
				Have you noticed that the world is devolving? Things are getting more chaotic, more divisive, more expensive. No matter how you vote, it seems to get worse. Perhaps you see that there is no difference between political parties so you don’t even bother voting. <span class="hero__highlight">Your observations are correct, you’re not alone.</span>
			</span>
		</p>
	</div>
</div>