@use "../all-vars" as *;

.main-body{
	background: linear-gradient(to bottom, #F8F8F8, #ffffff);
}

.body-content{
	padding-top: var(--block-spacing);
	padding-bottom: var(--block-spacing);
	h2{
		@extend .section-head;
	}
	h3, h4, h5, h6{
		text-align: left;
	}
}

.small-print{
	p{
		@include text-tiny;
		margin-bottom: 1em;
	}
}