@use "../all-vars" as *;

.donate{
	position: relative;
	padding-top: var(--block-spacing--shallow);
	padding-bottom: var(--block-spacing);
	&::before{
		content: '';
		width: 100%;
		height: 1px;
		border-bottom: 1px dashed var(--color-foreground);
		position: absolute;
		top: -1rem;
	}
	&__widget{
		margin-top: var(--block-spacing);
	}
}
