@use "../all-vars" as *;

.donate{
	background: linear-gradient(to bottom, #F8F8F8, #ffffff);
	position: relative;
	padding-top: var(--block-spacing--shallow);
	padding-bottom: var(--block-spacing--shallow);
	margin-top: var(--block-spacing);
	margin-bottom: var(--block-spacing);
	h2{
		@extend .section-head;
	}
	&::before{
		content: '';
		width: 100%;
		height: 1px;
		border-bottom: 1px dashed var(--color-foreground);
		position: absolute;
		top: -1rem;
	}
	&::after{
		content: '';
		width: 100%;
		height: 1px;
		border-bottom: 1px dashed var(--color-foreground);
		position: absolute;
		bottom: -1rem;
	}
	&__inner{
		@extend .content-container;
	}
	&__widget{
		margin-top: var(--block-spacing);
	}
}
