@use "../all-vars" as *;

.footer{
	position: relative;
	margin-top: var(--block-spacing);
	padding-top: var(--block-spacing);
	padding-bottom: var(--block-spacing--deep);
	@include break(tablet){
		padding-bottom: var(--block-spacing);
	}
	&>*{
		color: var(--color-foreground-inv);
	}
	a{
		color: var(--color-foreground-inv);
	}
	&::before{
		content: '';
		width: 100%;
		height: 1px;
		border-bottom: 1px dashed var(--color-foreground);
		position: absolute;
		top: -1rem;
	}
	background: linear-gradient(to bottom, #000, #2B2B2B);
	&__inner{
		@extend .content-container;
	}
	&__main-line{
		text-align: center;
	}
	&__credit-line{
		position: absolute;
		left: 1em;
		bottom: 1em;
		@include text-tiny;
		font-family: sans-serif;
		a{
			font-family: sans-serif;
			font-weight: normal;
		}
	}
}
