@use "../all-vars" as *;

.footer{
	position: relative;
	padding-top: var(--block-spacing);
	margin-top: var(--block-spacing);
	padding-bottom: var(--block-spacing);
	background: linear-gradient(to bottom, #000, #2B2B2B);
	&__inner{
		@extend .content-container;
	}
	&__line{
		color: var(--color-foreground-inv);
		text-align: center;
	}
}
