.header{
	color: var(--color-foreground-inv);
	background-color: var(--color-bg-inv);
	padding-top: var(--block-spacing--shallow);
	padding-bottom: var(--block-spacing--shallow);
	a{
		color: var(--color-foreground-inv);
	}
	&__logo-wrapper{
		display: inline-block;
		img{
			width: 100%;
			max-width: 200px;
			height: auto;
		}
	}
}
