@use "../all-vars" as *;

.header{
	color: var(--color-foreground);
	background-color: var(--color-bg);
	position: relative;
	&::after{
		content: '';
		width: 100%;
		height: 50%;
		position: absolute;
		top: 0;
		left: 0;
		border-bottom: 1px dashed var(--color-foreground);
	}
	&__inner{
		@extend .content-container;
		display: flex;
		flex-direction: row;
		align-items: center;
		min-height: 8rem;
		height: auto;
	}
	&__logo{
		max-width: 100%;
		background: var(--color-bg);
		z-index: 1;
		padding: 1em var(--gutter-padding);
		position: relative;
		left: calc(-1 * var(--gutter-padding));
		svg{
			max-width: 100%;
		}
		&--wide{
			display: none;
			@include break(mobile){
				display: block;
			}
		}
		&--narrow{
			display: block;
			@include break(mobile){
				display: none;
			}
		}
	}
}
