/* Project specific ------------------------------------ */

$site-width: 1100px;
$content-width: 900px;
$extended-width: 1600px;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$color-bitcoin: #f7931a;
$color-bitcoin-a11y: #D67600;
$color-white-solid: #ffffff;
$color-black-solid: #000000;
$color-black-off-solid: #151515;
$color-white-off-solid: #fafafa;


/* Useful helpers -------------------------------------- */

@mixin light-mode-wrapper {
	body.light-mode &{
		@content;
	}
	@media print{
		@content;
	}
}

/* Variables ------------------------------------------------- */

$border-radius: 2px;
$gutter-padding: 2em;
$block-spacing--shallow--static: 2rem;
$block-spacing--tiny: clamp(1rem, 3vw, 3rem);
$block-spacing--shallow: clamp(2rem, 4vw, 4.5rem);
$block-spacing: clamp(3.5rem, 6vw, 6.5rem);
$block-spacing--deep: clamp(8rem, 12vw, 14rem);
$block-spacing--text: clamp(1rem, 3vw, 3rem);
$column-gap: clamp(2rem, 5vw, 5rem);
$site-width-margins: calc(($site-width + $gutter-padding) + $gutter-padding);


/* Typography ------------------------------------------------- */

// largest size, percentage reduction to get smallest size, responsive size
@function responsiveSize($initial, $pcreduction, $vw) {
	$min: calc(#{$initial}rem * (#{100 - $pcreduction} / 100));
	$max: #{$initial}rem;
	$flex: #{$vw}vw;
	@return clamp(#{$min}, #{$flex}, #{$max});
}

// For display only
$font-size-display: responsiveSize(11, 40, 11);
$font-size-display-medium: responsiveSize(8, 40, 8);
$font-size-display-small: responsiveSize(4, 35, 4);

// For headings only
$font-size-heading: responsiveSize(2.8, 5, 2.8);

// For larger headings
$font-size-heading-large: responsiveSize(3.4, 5, 3.4);

// For small headings
$font-size-heading-small: responsiveSize(2.2, 5, 2.2);

// For general use
$font-size-medium: responsiveSize(3.2, 30, 3.2);

// Default font size
$font-size-std: responsiveSize(1.8, 20, 1.8);

// For body only
$font-size-body: responsiveSize(1.9, 10, 1.9);

// For body standouts
$font-size-body-intro: responsiveSize(2.6, 5, 2.6);

// For blocky text, taglines and other reasons
$font-size-blocky: responsiveSize(1.6, 8, 1.6);

// For tiny text
$font-size-tiny: 1.3rem;

// For exceptional reasons
$font-size-miniscule: 1.25rem;

// Fonts
$font-body: "Inter", sans-serif;
$font-std: "Inter", sans-serif;
$font-display: "Inter", sans-serif;
$font-blocky: "Inter", sans-serif;

// Type mixins

%body-weight-bold{
	font-weight: 600;
	@include light-mode-wrapper{
		font-weight: 700;
	}
}

%text-display{
	font-family: $font-display;
	font-size: $font-size-display;
	font-style: normal;
	line-height: 1;
	font-weight: 760;
	font-variation-settings: 'opsz' 72;
	@include light-mode-wrapper{
		font-weight: 780;
	}
}

%text-display-medium{
	font-family: $font-display;
	font-size: $font-size-display-medium;
	font-style: normal;
	line-height: 1;
	font-weight: 760;
	font-variation-settings: 'opsz' 72;
	@include light-mode-wrapper{
		font-weight: 780;
	}
}

%text-display-small{
	font-family: $font-display;
	font-size: $font-size-display-small;
	font-style: normal;
	line-height: 1.1;
	font-variation-settings: 'opsz' 40;
	font-weight: 500;
	@include light-mode-wrapper{
		font-weight: 600;
	}
	@media print{
		font-size: 3rem;
		font-weight: 600;
	}
}

%text-std{
	font-family: $font-std;
	font-size: $font-size-std;
	font-style: normal;
	line-height: 1.4;
	font-variation-settings: 'opsz' 10;
	font-weight: 380;
	@include light-mode-wrapper{
		font-weight: 460;
	}
	strong, b{
		font-weight: 650;
		@include light-mode-wrapper{
			font-weight: 660;
		}
	}
}

%text-link-defaults{
	color: var(--color-bitcoin-a11y-text);
	text-decoration: underline;
	text-underline-offset: 0.1em;
	text-decoration-thickness: .05em;
	font-style: normal;
	font-weight: 500;
	&:hover{
		text-decoration: none;
	}
	@include light-mode-wrapper{
		text-underline-offset: .15em;
		text-decoration-thickness: .08em;
	}
}

%text-link{
	font-family: $font-body;
	@extend %text-link-defaults;
	@extend %body-weight-bold;
}

%standalone-link{
	@extend %text-link;
	font-size: $font-size-std;
	font-family: $font-std;
	color: var(--color-accent);
	text-decoration: underline;
	text-underline-offset: 0.1em;
	text-decoration-thickness: .05em;
	font-style: normal;
	font-weight: 550;
	@include light-mode-wrapper{
		font-weight: 650;
		text-underline-offset: .15em;
		text-decoration-thickness: .08em;
	}
	&:hover{
		text-decoration: none;
	}
}

%standalone-link-inactive{
	font-family: $font-std;
	color: var(--color-foreground);
	font-style: normal;
	@extend %body-weight-bold;
	@media print{
		font-weight: 700;
	}
}

%text-heading-defaults{
	color: var(--color-accent-a11y);
	font-family: $font-std;
	line-height:1.2;
}

%text-heading{
	@extend %text-heading-defaults;
	font-size: $font-size-heading;
	font-variation-settings: 'opsz' 20;
	font-weight: 550;
	@include light-mode-wrapper{
		font-weight: 600;
	}
}

%text-heading--chunky{
	@extend %text-heading-defaults;
	font-size: $font-size-heading;
	font-variation-settings: 'opsz' 20;
	font-weight: 650;
	@include light-mode-wrapper{
		font-weight: 750;
	}
}

%text-heading-thin{
	@extend %text-heading-defaults;
	font-size: $font-size-heading;
	font-variation-settings: 'opsz' 28;
	font-weight: 350;
	@include light-mode-wrapper{
		font-weight: 450;
	}

}

%text-heading-small{
	@extend %text-heading-defaults;
	font-size: $font-size-heading-small;
	font-variation-settings: 'opsz' 16;
	font-weight: 550;
	@include light-mode-wrapper{
		font-weight: 600;
	}
}

%text-intro{
	font-family: $font-std;
	font-size: $font-size-body-intro;
	line-height: 1.2;
	font-variation-settings: 'opsz' 26;
	font-weight: 650;
	@include light-mode-wrapper{
		font-weight: 750;
	}
}

%text-medium{
	font-family: $font-std;
	font-size: $font-size-medium;
	font-style: normal;
	line-height: 1.6;
	font-variation-settings: 'opsz' 32;
	font-weight: 450;
	@include light-mode-wrapper{
		font-weight: 550;
	}
}

%text-blocky{
	font-family: $font-blocky;
	font-style: normal;
	text-transform: uppercase;
	font-size: $font-size-blocky;
	letter-spacing: .03em;
	font-variation-settings: 'opsz' 16;
	font-weight: 420;
	@include light-mode-wrapper{
		font-weight: 520;
	}
	@media print{
		font-size: 1.7rem;
	}
}

%text-blocky-bold{
	font-family: $font-blocky;
	font-style: normal;
	text-transform: uppercase;
	font-size: $font-size-blocky;
	letter-spacing: .03em;
	font-weight: 550;
	font-variation-settings: 'opsz' 16;
	@include light-mode-wrapper{
		font-weight: 650;
		letter-spacing: .06em;
	}
}

%text-tiny{
	font-size: $font-size-tiny;
	font-family: $font-std;
	letter-spacing: .02em;
	font-weight: 400;
	font-variation-settings: 'opsz' 10;
	@include light-mode-wrapper{
		font-weight: 500;
	}
	strong, b{
		font-weight: 500;
		@include light-mode-wrapper{
			font-weight: 600;
		}
	}
}

%text-miniscule{
	font-family: $font-std;
	font-size: $font-size-miniscule;
	font-style: normal;
	line-height: 1.4;
	font-variation-settings: 'opsz' 10;
	font-weight: 400;
	@include light-mode-wrapper{
		font-weight: 500;
	}
	strong, b{
		font-weight: 500;
		@include light-mode-wrapper{
			font-weight: 600;
		}
	}
} 