@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&display=swap');

/* Useful helpers -------------------------------------- */

@mixin light-mode-wrapper {
	body.light-mode &{
		@content;
	}
	@media print{
		@content;
	}
}

/* Fonts ------------------------------------------------- */

// <weight>: Use a value from 300 to 900
.merriweather-bold{
	font-family: "Merriweather", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-variation-settings:
		"wdth" 100;
}
.merriweather-std{
	font-family: "Merriweather", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
		"wdth" 100;
	strong, b{
		font-weight: 650;
		@include light-mode-wrapper{
			font-weight: 660;
		}
	}
}

// <weight>: Use a value from 100 to 900
.piazzolla-bold {
  font-family: "Piazzolla", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* Type mixins ----------------------------------------------- */


@mixin text-display{
	@extend .merriweather-bold;
	font-size: var(--font-size-display);
	font-style: normal;
	line-height: 1.2;
	font-weight: 760;
}


@mixin text-std{
	@extend .merriweather-std;
	font-size: var(--font-size-std);
	line-height: 1.4;
}

@mixin text-link-defaults{
	@extend .merriweather-std;
	color: var(--color-bitcoin-a11y-text);
}

@mixin text-link{
	@include text-link-defaults;
	text-decoration: underline;
	&:hover, &:focus-visible{
		text-decoration: none;
	}
}

@mixin standalone-link{
	@include text-link-defaults;
	text-decoration: underline;
	text-underline-offset: 0.1em;
	text-decoration-thickness: .05em;
	&:hover, &:focus-visible{
		text-decoration: none;
	}
}

@mixin text-heading-defaults{
	@extend .merriweather-bold;
	color: var(--color-foreground);
	line-height:1.2;
}

@mixin text-heading{
	@include text-heading-defaults;
	font-size: var(--font-size-heading);
}

@mixin text-heading-small{
	@include text-heading-defaults;
	font-size: var(--font-size-heading-small);
}

@mixin text-blocky{
	font-family: sans-serif;
	font-style: normal;
	text-transform: uppercase;
	color: var(--color-foreground);
	font-size: var(--font-size-blocky);
	letter-spacing: .03em;
	font-weight: bold;
}

@mixin text-tiny{
	@extend .merriweather-std;
	color: var(--color-foreground);
	font-size: var(--font-size-std);
	line-height: 1.4;
}


main{
	min-height: 80vh;
}

/* Layout ----------------------------------------------- */

.container{
	position: relative;
	width: 100%;
	max-width: var(--site-width-margins);
	margin: 0 auto;
	padding-left: var(--gutter-padding);
	padding-right: var(--gutter-padding);
	&--vertical-fill{
		height:100%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
}

.content-container{
	width: 100%;
	max-width: var(--content-width);
	margin: 0 auto;
	padding-left: var(--gutter-padding);
	padding-right: var(--gutter-padding);
}
