@use "all-vars" as vars;

main{
	min-height: 80vh;
}

.container{
	position: relative;
	width: 100%;
	max-width: vars.$site-width-margins;
	margin: 0 auto;
	padding-left: vars.$gutter-padding;
	padding-right: vars.$gutter-padding;
	&--vertical-fill{
		height:100%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
}

.content-container{
	width: 100%;
	max-width: vars.$content-width;
	margin: 0 auto;
	padding-left: vars.$gutter-padding;
	padding-right: vars.$gutter-padding;
}